$font-family-sans-serif: "Lato", sans-serif;
$large: 1.8em;

$primary-color: #6E3667;
$secondary-color: #88D317;
$third-color: #1A0315;
$fourth-color: #535353;
$light-gray: #eee;
$gray: #aaa;
$black: #000;
$white: #fff;

$padding: 1em;
$border-radius: 1em;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  background-color: $primary-color;
  color: $white;
  font-family: $font-family-sans-serif;
}
