$font-family-sans-serif: "Lato", sans-serif;
$large: 1.8em;
$medium: 1.5em;
$primary-color: #6E3667;
$secondary-color: #88D317;
$third-color: #1A0315;
$fourth-color: #535353;
$light-gray: #eee;
$gray: #aaa;
$black: #000;
$white: #fff;
$padding: 1em;

html {
  background-attachment: fixed;
  background-image: url("../assets/img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;

  @include lg {
    background-position: bottom;
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $white;
  font-family: $font-family-sans-serif;
}
