.Home {
  padding: $padding;

  .chart-wrapper {
    background-color: $white;
    padding: 1em;
    width: 60em;
    border-bottom: .5em solid $secondary-color;
  }

  .title{
    text-align: center;
  }
}
