.Menu {
  align-items: center;
  background-color: $white;
  display: flex;
  padding: $padding;

  .logo {
    width: 5em;
  }

  .links {

    .link {
      padding-left: $padding;
      text-decoration: none;
      color: $black;
      font-size: $large;
    }

    .link-active {
      color: $secondary-color;
    }
  }
}
