.Home {
  padding: $padding;

  .button {
    background-color: $secondary-color;
    border: 0;
    color: $fourth-color;
    font-size: $medium;
    height: 2.5em;
    margin-bottom: 0.2em;
  }

  .button:hover {
    color: $black;
    cursor: pointer;
  }

  .button:focus {
    outline: 0;
  }

  .chart-wrapper {
    background-color: $white;
    border-bottom: 0.5em solid $secondary-color;
    padding: 1em;
  }

  .title-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
